p {
    margin: 0;
}

main {
    width: 550px;
    margin: 0 25px 20px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    right: 50%;
}
aside {
    width: 80px;
    padding: 1em;
    border: 1px solid black;
    position: absolute;
    right: 30px;
    top: 50px;
}